{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
<li>
  <a href="{% url cl.opts|admin_urlname:'add' %}?{{ translation_language_field }}={{ translation_language_code }}{% if is_popup %}_popup=1{% endif %}" class="addlink">
    {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
  </a>
</li>
{% endblock %}
