{% extends "admin/change_form.html" %}
{% load i18n admin_urls dragoman_blog_tags %}

{% block extrahead %}
{{ block.super }}
<style type="text/css">

.dragoman-blog-language-tabs span {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-bottom: none;
    position: relative;
    left: 0px;
    top: 1px;
    font-weight: bold;
}
.dragoman-blog-language-tabs span.current {
    padding-top: 9px;
}
.dragoman-blog-language-tabs span.empty {
    opacity: 0.6;
    font-weight: normal;
}
.dragoman-blog-language-tabs a.deletelink {
    right: -17px;
    bottom: 4px;
    position: relative;
}
</style>
{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}?{{ translation_language_field }}__exact={{ translation_language_code }}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block after_related_objects %}    <input type="hidden" name="{{ translation_language_field }}" value="{{ translation_language_code }}" />    {% endblock %}
{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% block object-tools %}
{{ block.super }}
<div class="dragoman-blog-language-tabs">
    {% for code, tab in language_tabs.items %}
       <span class="{% if tab.current %}current{% endif %}{% if not tab.id %} empty{% endif %}">
           {% if not object_id %}
               <a href="{% url opts|admin_urlname:'add' %}?language_code={{code}}">{{ tab.name }}</a>
           {% else %}
               <a href="{% url opts|admin_urlname:'change' object_id %}?language_code={{code}}">{{ tab.name }}</a>
               {% if allow_deletion %}<a class="deletelink" href="{% url 'admin:dragoman_blog_entrytranslation_delete' tab.id %}?language_code={{code}}" title="{% trans 'Delete Translation' %}">&nbsp;</a>{% endif %}
               
           {% endif %}
        </span>
    {% endfor %}
</div>
{% endblock %}
